@import "./variables.scss";
@import "./mixins.scss";

// ======================================================
// Global
// ======================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include bricolage-grotesque();
  margin: 0;
  padding: 0;
  color: $text-primary;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}



// ======================================================
// Table
// ======================================================
.app-table {
  width: 100%;
  border-collapse: collapse;
  background: $background-card;
  border-radius: $radius-sm;
  @include shadow(sm);

  &__head {
    &--cell {
      @include bricolage-grotesque(500);
      padding: 0.6rem;
      font-size: $font-size-subtitle;
    }
  }

  &__body {
    &--cell {
      padding: 0.6rem;
      font-size: $font-size-caption;

      button {
        @include button(0.2rem, 0.6rem, $radius-xs);
        @include bricolage-grotesque(500);
        color: $color-white;

        &.new {
          background: $color-warning;
        }

        &.active {
          background: $color-success;
        }

        &.hold {
          background: $color-danger;
        }
      }

      &--container {
        @include flex(flex-start, center, row, 0.75rem);

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid $text-secondary;
        }
      }

      &--info {
        h5 {
          @include bricolage-grotesque(600);
          margin: 0 0 0.3rem;
          font-size: $font-size-caption;
        }

        p {
          margin: 0;
          font-size: $font-size-caption;
        }
      }
    }
  }
}

// ======================================================
// PrimeNG Common Table
// ======================================================
.app-commontable {
  &__headercontainer {
    @include flex(space-between);
  }

  &__searchcontainer {
    @include flex(flex-end);
    position: relative;

    i {
      position: absolute;
      right: 0.75rem;
      color: $color-black;
      font-size: $font-size-caption;
    }
  }

  &__searchinput {
    padding: 0.5rem !important;
    border: 1px solid $text-secondary;
    border-radius: $radius-sm;
    font-size: $font-size-caption;
  }
}

.app-commontable {
  .p-datatable-thead {
    >tr>th {
      @include bricolage-grotesque(500);
      padding: 0.6rem 0.5rem !important;
      color: $color-black;
      font-size: $font-size-subtitle;

      &.p-datatable-sortable-column:not(.p-datatable-column-sorted):hover {
        background: $color-white !important;
      }

      &.p-datatable-column-sorted {
        background: rgba($color-white, 0.2);
        color: $color-black;
      }
    }

    .p-sortable-column-icon {
      width: $font-size-caption;
      height: $font-size-caption;
      color: $color-black;
    }
  }

  .p-datatable-tbody {
    >tr>td {
      padding: 0.5rem;
      color: $color-black;
      font-size: $font-size-caption;
    }
  }
}


/* =========================================================
   GLOBAL FULLSCREEN SCROLL LOCK
  ========================================================= */

body.chart-card-fullscreen-open {
    overflow: hidden;
}