<main class="app-page">
    <div class="app-page__container">
        <section class="row">
            <div class="col-12">
                <p-table #dt2 styleClass="app-commontable" showGridlines="true" [columns]="headers" [value]="data"
                    [resizableColumns]="resizableColumns"
                    [reorderableColumns]="true"
                    [paginator]="paginator" [rows]="10" [sortOrder]="-1" [tableStyle]="{ 'min-width': '50rem' }"
                    [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="globalFilterFields">
                    
                    <ng-template pTemplate="caption">
                        <div class="app-commontable__headercontainer">
                            <p-multiSelect [options]="headers" [(ngModel)]="selectedColumns" optionLabel="header" display="chip"
                                placeholder="Select Columns">
                                <ng-template let-col pTemplate="item">
                                    <div>
                                        <i class="fa fa-table"></i> {{ col.header }}
                                    </div>
                                </ng-template>
                                <ng-template let-value pTemplate="selectedItem">
                                    <span class="chip">
                                        {{ value.header }}
                                    </span>
                                </ng-template>
                            
                            </p-multiSelect>
                            <div class="app-commontable__searchcontainer">
                                <input #globalFilter pInputText class="app-commontable__searchinput" type="text"
                                    (input)="dt2.filterGlobal(globalFilter.value, 'contains')" placeholder="Search keyword" />
                                <i class="fa-solid fa-search"></i>
                            </div>
                        </div>
                    </ng-template>

                    <!-- HEADER -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <ng-container *ngFor="let col of selectedColumns">
                                <th *ngIf="col.resizable" pResizableColumn pReorderableColumn
                                 [pSortableColumn]="col.field"   [style.width]="col.width">
                                    {{ col.header }}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                                <!-- NON RESIZABLE COLUMN -->

                                    <th *ngIf="!col.resizable"  [pSortableColumn]="col.field"  pReorderableColumn  [style.width]="col.width">
                                    {{ col.header }}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </ng-container>
                        </tr>

                        <!-- ⭐ FILTER ROW (dynamic) -->
                        <!-- <tr>
                <ng-container *ngFor="let col of headers">
                    <th [style.width]="col.width"> -->

                        <!-- TEXT FILTER -->
                        <!-- <p-columnFilter *ngIf="col.filterType === 'text'" type="text" [field]="col.field" [style.width]="col.width"
                            placeholder="Search by {{col.header}}" matchMode="contains">
                        </p-columnFilter> -->

                        <!-- NUMBER FILTER -->
                        <!-- <p-columnFilter *ngIf="col.filterType === 'numeric'" type="numeric" [field]="col.field" [style.width]="col.width"
                            placeholder="Search by {{col.header}}">
                        </p-columnFilter> -->

                        <!-- DROPDOWN FILTER -->
                        <!-- <p-columnFilter *ngIf="col.filterType === 'dropdown'" [field]="col.field" matchMode="equals"
                            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"> -->

                        <!-- <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [options]="statusOptions" placeholder="Select"
                                    (onChange)="filter($event.value)">
                                </p-dropdown>
                            </ng-template> -->
                        <!-- 
                        </p-columnFilter>

                    </th>
                </ng-container>
            </tr> -->
                    </ng-template>

                    <!-- BODY -->
                    <ng-template pTemplate="body" let-rowData let-columns="headers" let-index="rowIndex" >
                        <tr [pReorderableRow]="index">
                            <td *ngFor="let col of selectedColumns">
                                {{ rowData[col.field] }}
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </section>
    </div>
</main>