<div class="data-table">

    <!-- =========================================================
         TABLE
    ========================================================== -->

    <div
        class="data-table__wrapper"
        *ngIf="!loading && !empty">

        <table class="data-table__table">

            <!-- =================================================
                 HEADER
            ================================================== -->

            <thead class="data-table__head">

                <tr>

                    <th
                        *ngFor="
                            let column of tableColumns;
                            trackBy: trackByColumn
                        "
                        [style.width]="column.width"
                        [style.text-align]="column.align || 'left'"
                        [class.data-table__hide-tablet]="
                            column.hideOnTablet
                        "
                        [class.data-table__hide-mobile]="
                            column.hideOnMobile
                        "
                        scope="col">

                        {{ column.label }}

                    </th>

                </tr>

            </thead>


            <!-- =================================================
                 BODY
            ================================================== -->

            <tbody class="data-table__body">

                <tr
                    *ngFor="
                        let row of rows;
                        let rowIndex = index;
                        trackBy: trackByRow
                    "
                    class="data-table__row"
                    (click)="onRowClick(row)">

                    <td
                        *ngFor="
                            let column of tableColumns;
                            trackBy: trackByColumn
                        "
                        [style.text-align]="column.align || 'left'"
                        [class.data-table__hide-tablet]="
                            column.hideOnTablet
                        "
                        [class.data-table__hide-mobile]="
                            column.hideOnMobile
                        ">


                        <!-- =====================================
                             ACTION
                        ====================================== -->

                        <ng-container
                            *ngIf="
                                column.key === '__actions'
                            ">

                            <div
                                class="data-table__action"
                                (click)="$event.stopPropagation()">

                                <app-action-menu
                                    [actions]="actions"
                                    [ariaLabel]="
                                        'Actions for row ' +
                                        (rowIndex + 1)
                                    "
                                    (actionClick)="
                                        onActionClick(
                                            $event,
                                            row
                                        )
                                    ">
                                </app-action-menu>

                            </div>

                        </ng-container>


                        <!-- =====================================
                             TENANT
                        ====================================== -->

                        <ng-container
                            *ngIf="
                                column.key !== '__actions' &&
                                column.type === 'tenant'
                            ">

                            <div class="data-table__tenant">

                                <!-- Avatar -->

                                <div
                                    class="data-table__tenant-avatar">

                                    {{
                                        getTenantInitials(
                                            row,
                                            column
                                        )
                                    }}

                                </div>


                                <!-- Tenant Details -->

                                <div
                                    class="data-table__tenant-info">

                                    <span
                                        class="data-table__tenant-name">

                                        {{
                                            getTenantName(
                                                row,
                                                column
                                            )
                                        }}

                                    </span>


                                    <span
                                        class="data-table__tenant-mobile">

                                        {{
                                            getTenantMobile(
                                                row,
                                                column
                                            )
                                        }}

                                    </span>

                                </div>

                            </div>

                        </ng-container>


                        <!-- =====================================
                             STATUS
                        ====================================== -->

                        <ng-container
                            *ngIf="
                                column.key !== '__actions' &&
                                column.type === 'status'
                            ">

                            <app-status-badge
                                [status]="
                                    getCellValue(
                                        row,
                                        column
                                    )
                                ">
                            </app-status-badge>

                        </ng-container>


                        <!-- =====================================
                             DATE
                        ====================================== -->

                        <ng-container
                            *ngIf="
                                column.key !== '__actions' &&
                                column.type === 'date'
                            ">

                            <span class="data-table__date">

                                {{
                                    getCellValue(
                                        row,
                                        column
                                    )
                                    | date: 'dd MMM yyyy'
                                }}

                            </span>

                        </ng-container>


                        <!-- =====================================
                             CURRENCY
                        ====================================== -->

                        <ng-container
                            *ngIf="
                                column.key !== '__actions' &&
                                column.type === 'currency'
                            ">

                            <span class="data-table__currency">

                                {{
                                    getCellValue(
                                        row,
                                        column
                                    )
                                    | currency: 'INR' : 'symbol' : '1.0-0'
                                }}

                            </span>

                        </ng-container>


                        <!-- =====================================
                             NORMAL TEXT
                        ====================================== -->

                        <ng-container
                            *ngIf="
                                column.key !== '__actions' &&
                                column.type !== 'tenant' &&
                                (
                                    !column.type ||
                                    column.type === 'text'
                                )
                            ">

                            <span
                                class="data-table__text"
                                [title]="
                                    getCellValue(
                                        row,
                                        column
                                    )
                                ">

                                {{
                                    getCellValue(
                                        row,
                                        column
                                    )
                                }}

                            </span>

                        </ng-container>

                    </td>

                </tr>

            </tbody>

        </table>

    </div>


    <!-- =========================================================
         EMPTY
    ========================================================== -->

    <div
        *ngIf="!loading && empty"
        class="data-table__empty">

        <div class="data-table__empty-icon">

            <svg
                viewBox="0 0 24 24"
                fill="none"
                aria-hidden="true">

                <rect
                    x="4"
                    y="4"
                    width="16"
                    height="16"
                    rx="2"
                    stroke="currentColor"
                    stroke-width="1.6" />

                <path
                    d="M8 9H16"
                    stroke="currentColor"
                    stroke-width="1.6"
                    stroke-linecap="round" />

                <path
                    d="M8 13H16"
                    stroke="currentColor"
                    stroke-width="1.6"
                    stroke-linecap="round" />

                <path
                    d="M8 17H12"
                    stroke="currentColor"
                    stroke-width="1.6"
                    stroke-linecap="round" />

            </svg>

        </div>

        <p class="data-table__empty-message">
            {{ emptyMessage }}
        </p>

    </div>


    <!-- =========================================================
         LOADING
    ========================================================== -->

    <div
        *ngIf="loading"
        class="data-table__loading">

        <div
            *ngFor="let item of [1, 2, 3, 4, 5]"
            class="data-table__skeleton-row">

            <span
                *ngFor="let column of columns"
                class="data-table__skeleton-cell">
            </span>

        </div>

    </div>

</div>