<main class="app-login">

  <section class="app-login__container">
    <div class="app-login__card">

      <!-- HEADER -->
      <header class="app-login__header">
        <ng-container *ngFor="let tab of authTabs(); let i = index">
          <div
            type="button"
            class="app-login__tab"
            [class.active]="activeTab() === tab.tabId"
            (click)="_doSelectAuthTab(tab,i)"
          >
            <span class="app-login__tab-title">
              {{ tab.tabTitle }}
            </span>
        </div>
        </ng-container>
      </header>

      <!-- FORM -->
      <form class="app-login__form" (ngSubmit)="_doLogin()">
        <div class="app-login__body">
          <div class="app-login__field">
            <!-- <label class="app-login__label" for="email">
              Email or phone number
            </label> -->
            <input
              id="email"
              type="text"
              class="app-login__input"
              placeholder="Email or phone number"
            />
          </div>

          <div class="app-login__field">
            <!-- <label class="app-login__label" for="password">
              Password
            </label> -->
            <input
              id="password"
              [type]="isShowPassword()?'text':'password'"
              class="app-login__input"
              placeholder="Enter password"
            />
            <div class="app-login__input--icon" (click)="_doTogglePasswordType()">
              <i  class="fa-solid" [ngClass]="isShowPassword()?'fa-eye':'fa-eye-slash'"></i>
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <footer class="app-login__footer">
          <a
            href="#"
            class="app-login__footer-forgot-password">
            Forgot your password?
          </a>
          <button
            type="submit"
            class="app-login__footer-button">
            Login
          </button>
        </footer>

      </form>
    </div>
  </section>
</main>